.global-container {
    display: flex;
}

aside {
    flex: 1;
    border: 5px;
    background-image: url(assets/images/sign\ up\ aside\ img.jpg);
    background-size: cover;
    width: 988;
    height: 1628;
}

.aside-img {
    max-width: 720px;
}

.main-content {
    flex: 1;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    width: 505px;
    margin-top: 5%;
    margin-left: 15%;

}

.coffeeshop-logo {
    font-style: bold;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #0B132A;
}

.header-signup {
    font-family: 'Rubik';
    font-style: bold;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    color: #6A4029;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
}

.flex-form-container {
    display: flex;
    flex-direction: column;
}

form {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #4F5665;
}

input {
    width: 505px;
    height: 75px;
    left: 810px;
    top: 238px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid #4F5665;
    border-radius: 20px;
}

input[type="text"],
input[type="password"] {
    font-size: 20px;
    padding: 25px 30px;
    font-weight: 400;
    line-height: 27px;
}

.forgot {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;

    color: #6A4029;
    cursor: pointer;
}

.signup {
    background: #FFBA33;
    border-color: #FFBA33;
    border-radius: 20px;
    box-shadow: 0px 6px 20px rgba(255, 186, 51, 0.4);
    margin: 25px 0px;
    font-family: 'Rubik';
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #6A4029;
    width: 505px;
    height: 75px;
    left: 810px;
    top: 238px;
    text-align: center;
    cursor: pointer;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.signup:hover{
    background-color:#fcaf16 ;
}

.signup:active{
    background-color:#FFBA33 ;
}


.google-button {
    width: 505px;
    height: 75px;
    left: 810px;
    top: 751px;

    background: #FFFFFF;
    box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67);
    border-color: #FFFFFF;
    border-radius: 20px;
    font-family: 'Poppins';
    font-style: bold;
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;
}

.have-account-container {
    display: flex;
    column-gap: 10px;
    align-items: center;
    padding: 25px;
    width: 505px;
}

.have-account-text {
    flex: 2;
    margin-top: 16px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #9F9F9F
}

.underline {
    flex: 1;
    height: 1px;
    border-bottom: 2px solid #C4C4C4;
    ;
}

.login-button {
    width: 505px;
    height: 75px;
    left: 810px;
    top: 751px;

    background: #6A4029;
    box-shadow: 0px 6px 20px rgba(106, 64, 41, 0.63);
    border-radius: 20px;
    border-color: #6A4029;
    margin-bottom: 80px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;
    cursor: pointer;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.login-button:hover{
    background-color: #965634 ;
}

.login-button:active{
    background-color: #6A4029 ;
}

footer {

    background-color: #F8F8F8;
}

.footer-flex-container {
    display: flex;
    flex-direction: row;
    width: 630px;
    margin-left: 10%;
    justify-content: space-between;
}

.footer-flex-item {
    flex: 1;
    margin-top: 85px;
    width: 40%;

}

.socmed{
    background-color: #6A4029;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.footer-list {
    display: flex;
}

.footer-list-item {
    flex: 1;
}

.footer-list-item>p {
    margin-bottom: 5px;
}